# IBM Data Science Course Capstone

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
from bs4 import BeautifulSoup
import requests

## Raspando dados da pagina

In [4]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [5]:
soup = BeautifulSoup(source, 'lxml')

In [6]:
table = soup.find('table')

In [7]:
data = list()
for rows in table.find_all('tr'):
    
    row = rows.find_all('td')
    if row:
        postalcode = row[0].text.rstrip()
        borough = row[1].text.rstrip()
        neighborhood = row[2].text.rstrip()
        if borough != 'Not assigned':
            if neighborhood == 'Not assigned':
                neighborhood = borough
            data.append([postalcode, borough, neighborhood])

col_head = list()
for cols in table.tr.find_all('th'):
    col_head.append(cols.text.strip())

In [8]:
df = pd.DataFrame(data, columns = col_head)
print(df.shape)

(103, 3)

In [9]:
df.describe()

       Postal code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M5W  North York    Downsview
freq             1          24            4

In [10]:
df.head(12)

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Regent Park / Harbourfront
3,M6A,North York,Lawrence Manor / Lawrence Heights
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,Malvern / Rouge
7,M3B,North York,Don Mills
8,M4B,East York,Parkview Hill / Woodbine Gardens
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...